@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Balmy';
  src: url('/client/public/fonts/Balmy-Beta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/client/public/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/client/public/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/client/public/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('/client/public/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bg-top {
  background-image: url('../../public/4.png');
  background-size: 100% auto;
  background-position:top;
  background-repeat: no-repeat;
  z-index: 2;
}

.bg-cloud {
  background-image: url('../../public/Cloud.png');
  background-size: 100% auto;
  background-position:bottom;
  background-repeat: no-repeat;
  z-index: 2;
}

.bg-star {
  background-image: none;
  background-size: contain;
  background-position:top;
  background-repeat: no-repeat;
  z-index: 1;
}

@media (max-width: 640px) {
  .bg-star {
    background-image: url('../../public/meteorlong.png');
  }
}

.bg-blur {
  background-image: url('../../public/5.png');
  background-size: 150% auto;
  background-position-y: 0px;
}

.bg-blur2 {
  background-image: url('../../public/6.png');
  background-size: 150% auto;
  transform: scaleX(-1);
  background-position-y: 120px;
  background-position-x: 0px;
}

.text-shadow {
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.7), 
    -1px -1px 2px rgba(0, 0, 0, 0.7), 
    1px -1px 2px rgba(0, 0, 0, 0.7), 
    -1px 1px 2px rgba(0, 0, 0, 0.7);
}

.thick-shadow {
  text-shadow:
    2px 2px 4px rgba(0, 0, 0, 0.7), 
    -2px -2px 4px rgba(0, 0, 0, 0.7), 
    2px -2px 4px rgba(0, 0, 0, 0.7), 
    -2px 2px 4px rgba(0, 0, 0, 0.7);
}

.bg-gradient-custom {
  background-image: linear-gradient(
    to bottom, 
    #011d4d, /* Dark blue at the top */
    #11318a, /* Transition starts to baby blue around 70% of the element's height */
    #C5E4FC 90% /* Ends with an even lighter blue at the bottom */
  );
}

.bg-gradient-custom2 {
  position: relative;
  overflow: hidden;
}

.bg-gradient-custom2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom, 
    #FFF0BA, /* Start with dark blue at the top */
    #6495ED, /* Transition to baby blue starts around 70% of the element's height */
    #04070a /* And fills up to the bottom */
  );
  opacity: 0.87; /* Adjust the opacity of the background */
  filter: blur(1px); /* Blur only the background */
  z-index: -1;
}

.bg-gradient-custom2 * {
  position: relative; /* Ensure content is positioned above the blurred background */
}

.shadow-outline-low {
  text-shadow: 0 0 3px #000000, 0 0 3px #000000;
}

.shadow-outline {
  text-shadow: 
    -2.5px -2.5px 2px #001840,  2.5px -2.5px 2px #001840,
    -2.5px  2.5px 2px #001840,  2.5px  2.5px 2px #001840,
    0    -2.5px 0 #001840,  0    2.5px 0 #001840,
    -2.5px  0   0 #001840,  2.5px  0   0 #001840,
    -1px -2.5px 0 #001840,  1px -2.5px 0 #001840,
    -2.5px -1px 0 #001840,  2.5px -1px 0 #001840,
    -2.5px  1px 0 #001840,  2.5px  1px 0 #001840,
    -1px  2.5px 0 #001840,  1px  2.5px 0 #001840;
}

.shadow-outline-reverse {
  text-shadow: 
    -2.5px -2.5px 2px #FFF0BA,  2.5px -2.5px 2px #FFF0BA,
    -2.5px  2.5px 2px #FFF0BA,  2.5px  2.5px 2px #FFF0BA,
    0    -2.5px 0 #FFF0BA,  0    2.5px 0 #FFF0BA,
    -2.5px  0   0 #FFF0BA,  2.5px  0   0 #FFF0BA,
    -1px -2.5px 0 #FFF0BA,  1px -2.5px 0 #FFF0BA,
    -2.5px -1px 0 #FFF0BA,  2.5px -1px 0 #FFF0BA,
    -2.5px  1px 0 #FFF0BA,  2.5px  1px 0 #FFF0BA,
    -1px  2.5px 0 #FFF0BA,  1px  2.5px 0 #FFF0BA;
}

.shadow-outline-reverse-low {
  text-shadow: 
    -0.5px -0.5px 1px #FFF0BA,  0.5px -0.5px 1px #FFF0BA,
    -0.5px  0.5px 1px #FFF0BA,  0.5px  0.5px 1px #FFF0BA,
    0    -0.5px 0 #FFF0BA,  0    0.5px 0 #FFF0BA,
    -0.5px  0   0 #FFF0BA,  0.5px  0   0 #FFF0BA,
    -1px -0.5px 0 #FFF0BA,  1px -0.5px 0 #FFF0BA,
    -0.5px -1px 0 #FFF0BA,  0.5px -1px 0 #FFF0BA,
    -0.5px  1px 0 #FFF0BA,  0.5px  1px 0 #FFF0BA,
    -1px  0.5px 0 #FFF0BA,  1px  0.5px 0 #FFF0BA;
}

@keyframes slideInRightToLeft {
  from {
    transform: translateX(60%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animated-navbar {
  animation: slideInRightToLeft 0.5s ease forwards;
}

.animated-navbar-component {
  animation: slideInRightToLeft 1s ease forwards;
}

.item-child:after {
  height: calc(50% + 80px);
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera*/
}

.scale-on-hover:hover {
  transform: scale(1.1); /* Adjust scaling factor as needed */
  transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.live-indicator {
  display: inline-flex;
  align-items: center;
  color: red; /* Example color for the "live" text */
}

.custom-toast-container {
  width: 100%
}